In [68]:
import numpy
import scipy
from matplotlib import pyplot as pyplot
import sklearn
import seaborn
import csv
import pandas

## a) Sckit learn provided an object oriented interface centered around the concept of an Estimator.

In [67]:
with open('data/colon_delimited_stock_prices.txt') as file:
    reader = csv.reader(file , delimiter = ':')
    for row in reader:
        if len(row) > 1:
            print(row)
#         print("Date : " + row[0].split()[0])
#         print(row[0].split(':'))

['date', 'symbol', 'closing_price']
['6/20/2014', 'AAPL', '90.9']
['16/20/2014', 'MSFT', '41.68']
['6/20/2014', 'FB', '64.5']

In [69]:
file = pandas.read_csv('data/flights.csv')

In [75]:
nandf = file[file.isnull().any(axis=1)].head(20)

In [115]:
dropCols = lambda x : x.drop(x[x.isnull().any(axis = 1) == False])

AttributeError: module 'pandas' has no attribute 'drop'

In [112]:
nandf[nandf.isnull().any(axis = 1)]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN
859,2013,1,2,NaN,NaN,NaN,NaN,AA,N3FBAA,753,LGA,DFW,NaN,1389,NaN,NaN
860,2013,1,2,NaN,NaN,NaN,NaN,UA,NaN,623,EWR,ORD,NaN,719,NaN,NaN
1067,2013,1,3,1348.0,-2.0,1821.0,NaN,DL,N324NB,1705,LGA,MSY,NaN,1183,13.0,48.0
1275,2013,1,3,NaN,NaN,NaN,NaN,AA,N487AA,321,LGA,ORD,NaN,733,NaN,NaN
1276,2013,1,3,NaN,NaN,NaN,NaN,AA,N3AMAA,327,LGA,ORD,NaN,733,NaN,NaN
1277,2013,1,3,NaN,NaN,NaN,NaN,AA,N3GXAA,717,LGA,DFW,NaN,1389,NaN,NaN
1278,2013,1,3,NaN,NaN,NaN,NaN,AA,N201AA,721,LGA,DFW,NaN,1389,NaN,NaN
1279,2013,1,3,NaN,NaN,NaN,NaN,AA,N3FVAA,731,LGA,DFW,NaN,1389,NaN,NaN
1280,2013,1,3,NaN,NaN,NaN,NaN,AA,N573AA,1757,LGA,STL,NaN,888,NaN,NaN
1281,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,714,EWR,MIA,NaN,1085,NaN,NaN
1282,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,719,EWR,DFW,NaN,1372,NaN,NaN
1700,2013,1,4,NaN,NaN,NaN,NaN,AA,N541AA,721,LGA,DFW,NaN,1389,NaN,NaN
1701,2013,1,4,NaN,NaN,NaN,NaN,AA,N3BGAA,745,LGA,DFW,NaN,1389,NaN,NaN
1702,2013,1,4,NaN,NaN,NaN,NaN,AA,N200AA,883,EWR,DFW,NaN,1372,NaN,NaN
1703,2013,1,4,NaN,NaN,NaN,NaN,AA,N569AA,2223,LGA,STL,NaN,888,NaN,NaN

In [93]:
nandf

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN
859,2013,1,2,NaN,NaN,NaN,NaN,AA,N3FBAA,753,LGA,DFW,NaN,1389,NaN,NaN
860,2013,1,2,NaN,NaN,NaN,NaN,UA,NaN,623,EWR,ORD,NaN,719,NaN,NaN
1067,2013,1,3,1348.0,-2.0,1821.0,NaN,DL,N324NB,1705,LGA,MSY,NaN,1183,13.0,48.0
1275,2013,1,3,NaN,NaN,NaN,NaN,AA,N487AA,321,LGA,ORD,NaN,733,NaN,NaN
1276,2013,1,3,NaN,NaN,NaN,NaN,AA,N3AMAA,327,LGA,ORD,NaN,733,NaN,NaN
1277,2013,1,3,NaN,NaN,NaN,NaN,AA,N3GXAA,717,LGA,DFW,NaN,1389,NaN,NaN
1278,2013,1,3,NaN,NaN,NaN,NaN,AA,N201AA,721,LGA,DFW,NaN,1389,NaN,NaN
1279,2013,1,3,NaN,NaN,NaN,NaN,AA,N3FVAA,731,LGA,DFW,NaN,1389,NaN,NaN
1280,2013,1,3,NaN,NaN,NaN,NaN,AA,N573AA,1757,LGA,STL,NaN,888,NaN,NaN
1281,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,714,EWR,MIA,NaN,1085,NaN,NaN
1282,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,719,EWR,DFW,NaN,1372,NaN,NaN
1700,2013,1,4,NaN,NaN,NaN,NaN,AA,N541AA,721,LGA,DFW,NaN,1389,NaN,NaN
1701,2013,1,4,NaN,NaN,NaN,NaN,AA,N3BGAA,745,LGA,DFW,NaN,1389,NaN,NaN
1702,2013,1,4,NaN,NaN,NaN,NaN,AA,N200AA,883,EWR,DFW,NaN,1372,NaN,NaN
1703,2013,1,4,NaN,NaN,NaN,NaN,AA,N569AA,2223,LGA,STL,NaN,888,NaN,NaN

In [114]:
nandf[nandf.columns.isnull().any]

TypeError: 'DataFrame' object cannot be interpreted as an integer